{% extends 'store/base.html' %}

{% block content %}
    {% load static %}
    <div x-data="storeState()" class="border-b flex items-center justify-center text-sm">
        {% for category in object_list %}
            {% include 'store/components/sub_category_list.html' with category=category %}
        {% endfor %}
    </div>
    <div class="bg-cover bg-center flex items-center" style="background-image: url('{% static 'app/images/store-cover.jpeg' %}'); height:80vh;">
        <div class="text-white container mx-auto">
            <div class="py-4">
                <h4 class="font-bold text-3xl">PRACTICE LOVE</h4>
                <p class="py-2">Check out the new Valentin's Day collection</p>
                <div class="mb-3">
                    <a href="{% url 'store:category_products' category='women'%}" class="bg-white p-2 text-sm font-semibold text-black">
                        SHOP WOMEN &rarr;
                    </a>
                </div>
                <div class="mb-3">
                    <a href="{% url 'store:category_products' category='men' %}" class="bg-white p-2 text-sm font-semibold text-black">
                        SHOP MEN &rarr;
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="py-4 container mx-auto">
        <h2 class="uppercase font-semibold text-lg mb-2">Featured Products</h2>
        <div class="flex overflow-x-auto space-x-2">
            {% for inventory in featured %}
            <div class="flex flex-shrink-0 w-52">
                {% include 'store/components/product_card.html' with product=inventory.product %}
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'app/js/store/index.js' %}"></script>
{% endblock  %}