{% comment %} Reply modal {% endcomment %}
<div x-data="replyState()" x-on:toggle.window="togglemodal($event)" x-show="isOpen" id="reply-modal" aria-hidden="true" class="flex overflow-y-auto overflow-x-hidden fixed right-0 left-0 top-4 z-50 justify-center items-center h-modal md:h-full md:inset-0">
    <div class="relative px-4 w-full max-w-md h-full md:h-auto">
        <!-- Modal content -->
        <div class="border relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="flex justify-end pt-2 pr-2">
                <button x-on:click="togglemodal()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="authentication-modal">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                </button>
            </div>
            <div class="p-2">
                <div class="border rounded p-2 text-xs border-red-500 text-red-600 mb-2" x-text="error" x-show="error"></div>
                <h4 class="mb-2 font-medium text-violet-500">Add a reply</h4>
                <form x-on:submit.prevent="saveReply()">
                    <textarea x-model="formData.content" class="w-full p-2 border rounded outline-none" name="content" id="reply" rows="3"></textarea>
                    <div>
                        <button type="button" x-on:click="togglemodal()" class="border p-1 rounded hover:bg-gray-100">CANCEL</button>
                        <button type="submit" class="border p-1 rounded hover:bg-gray-100">SAVE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 