{% load store_tags %}
<div class="mt-4">
    {% if page_obj.has_previous %}
        <a class="border rounded p-1 text-red-700 hover:text-red-500 mr-2" href="?{% build_query page=1 %}">&laquo; first</a>
        <a class="border rounded p-1 text-red-700 hover:text-red-500 mr-2" href="?{% build_query page=page_obj.previous_page_number %}">previous</a>
    {% endif %}

    {% if page_obj.has_next %}
        <a class="border rounded p-1 text-red-700 hover:text-red-500 mr-2" href="?{% build_query page=page_obj.next_page_number %}">next</a>
        <a class="border rounded p-1 text-red-700 hover:text-red-500 mr-2" href="?{% build_query page=page_obj.paginator.num_pages %}">last &raquo;</a>
    {% endif %}
</div>